.lt-app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.lt-toolbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* justify-content: space-between; */
}

.lt-toolbar-select {
  flex-grow: 2;
}

.lt-toolbar-btn {
  padding: 10px;
  /* flex-grow: 1; */
}

.lt-textfield {
  flex-grow: 2;
  height: calc(50vh - 12px);
}
