.lt-app {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.lt-toolbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding:  10px 0;
}

.lt-toolbar-select {
  flex-grow: 2;
}

.lt-swap-btn {
  margin: 0 10px;
}

.lt-config-btn {
  margin-left: 10px;
}

.lt-textfield {
  height: calc(50vh - 36px);
}

.lt-input-container {
  position:relative;
}

.lt-input-toolbar {
  display: flex;
  flex-direction: row;
  position:absolute;
  bottom: 16px;
  left:16px;
  width: 32px;
  height: 32px;
}

.lt-settings-modal {
  width: auto;
}